<!doctype html>
<html dir="ltr" lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>数据市场 - 成员中心 - 应用管理 - 我收藏的应用</title>
<link href="../css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../js/jquery-1.8.2.js"></script>
<script type="text/javascript" src="../js/js.js"></script>
<script>
$(function(){
	$(".nav").jNavExe();
	$(".mail").placeholder();
	backTop();
});
</script>
</head>

<body>
<div class="wrap">
	<div class="header">
		<div class="w1000">
			<a href="../index.html" class="logo"></a>
			<div class="nav">
				<ul class="clearfix">
					<li><a href="../index.html">首页</a></li>
					<li><a href="../service.html">服务</a></li>
					<li><a href="../product.html">产品</a></li>
					<li><a href="../application.html">应用</a></li>
					<li><a href="../union.html">联盟</a></li>
				</ul>
				<span class="nav-bar"></span>
			</div>
			<ul class="login-bar">
				<li><a href="#">注册</a></li>
				<li><a href="#" class="loginbtn">登录</a></li>
			</ul>
		</div>
	</div>
	<div class="banner">
		<div class="w1000"><img src="../images/wenzi.png"></div>
	</div>
	<div class="main">
		<div class="main-content">
			<div class="main-title">
				<div class="crumbs">
					<div><a href="#">网站首页</a></div>&nbsp;/&nbsp;<span><a href="index.html">成员中心</a></span>&nbsp;/&nbsp;<span>应用管理</span>
				</div>
				<div class="search">
					<div class="search-c">
						<div><input type="text" value="标题内容关键字" class="input-text"><i class="icon icon-search"></i></div>
						<input type="submit" value="搜索" class="btn">
					</div>
					<div class="tag"></div>
				</div>
			</div>
			<div class="sidebar">
				<div class="sibebar-nav">
					<dl>
						<dt>账户管理</dt>
						<dd><a href="password.html">修改密码</a></dd>
						<dd><a href="info.html">账户信息</a></dd>
						<dd><a href="points.html">我的积分</a></dd>
					</dl>
					<dl>
						<dt>数据管理</dt>
						<dd><a href="data-add.html">发布新的数据</a></dd>
						<dd><a href="data-public.html">我发布的数据</a></dd>
						<dd><a href="data-download.html">我下载的数据</dd>
						<dd><a href="data-favorite.html">我收藏的数据</a></dd>
					</dl>
					<dl>
						<dt>应用管理</dt>
						<dd><a href="app-add.html">发布新的应用</a></dd>
						<dd><a href="app-public.html">我发布的应用</a></dd>
						<dd><a href="app-favorite.html">我收藏的应用</a></dd>
					</dl>
				</div>
			</div>
			<div class="main-content-c">
				<div class="main-content-list">
					<ul class="list">
						<li>
							<div class="list-title" style="margin-bottom:10px;"><h3>我收藏的应用</h3></div>
							<div class="accountListBox">
                                <table class="accountTable">
                                    <tbody>
                                        <tr>
                                            <th>编号</th>
                                            <th>名称</th>
                                            <th>大小</th>
                                            <th>积分</th>
                                            <th>收藏时间</th>
                                            <th>操作</th>
                                        </tr>
                                        <tr>
                                            <td colspan="6"> 您还没有收藏任何数据应用。 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
						</li>
					</ul>
				</div>
			</div>
			<div class="clearit"></div>
		</div>
	</div>
	<div class="footer">
		<div class="w1000 clearfix">
			<p>Copyright ©2013  天云数据市场  All Rights Reserved.   京ICP证151235624号</p>
			<div><a href="#">品牌合作</a>　|　<a href="#">网站地图</a>　|　<a href="#">社会招聘</a>　|　<a href="#">联系我们</a></div>
		</div>
	</div>
</div>
</body>
</html>
