<div class="sidebar">
  <div class="sibebar-nav">
    <dl>
      <dt>价格</dt>
      <dd><a href="#">免费(0)</a></dd>
      <dd><a href="#">收费(10)</a></dd>
      <dd><a href="#">试用(10)</a></dd>
    </dl>
    <dl>
      <dt>类别</dt>
      <dd><a href="#">电信(10)</a></dd>
      <dd><a href="#">金融(10)</a></dd>
      <dd><a href="#">政府(10)</a></dd>
      <dd><a href="#">医疗(10)</a></dd>
      <dd><a href="#">互联网(10)</a></dd>
    </dl>
    <dl>
      <dt>来源</dt>
      <dd><a href="#">公共数据(10)</a></dd>
      <dd><a href="#">联盟数据(10)</a></dd>
      <dd><a href="#">API接口(10)</a></dd>
    </dl>
    <dl>
      <dt>格式</dt>
      <dd><a href="#">文本(10)</a></dd>
      <dd><a href="#">图像(10)</a></dd>
      <dd><a href="#">视频(10)</a></dd>
      <dd><a href="#">音频(10)</a></dd>
    </dl>
  </div>
</div>
