{% extends "datamarket/views/base.html" %}
{% block script %}
$(function(){
    $(".nav").jNavExe();
    $(".mail").placeholder();
    backTop();
});
{% endblock %}

{% block body %}
<div class="main">
  <div class="main-content">
    <div class="main-title">

      {% include "datamarket/views/crumbs.html" %}

      <div class="search">
	<div class="search-c">
	  <div><input type="text" value="标题内容关键字" class="input-text"><i class="icon icon-search"></i></div>
	  <input type="submit" value="搜索" class="btn">
	</div>
	<div class="tag"></div>
      </div>
    </div>
 
    {% include "datamarket/views/account/sidebar.html" %}

    <div class="main-content-c">
      <div class="main-content-list">
	<ul class="list">
	  <li>
	    <div class="list-title" style="margin-bottom:20px;"><h3>修改密码</h3></div>
	    <div class="accountForm">
              <form id="changepass" name="changepass" method="post" action="/account/password/change">
                <p>
                  <label>旧密码：</label>
                  <input type="password" value="" id="old-password" name="old-password" />
                  <span>&nbsp;</span>
                </p>
                <p>
                  <label>新密码：</label>
                  <input type="password" value="" id="password" name="password" />
                  <span>&nbsp;</span>
                </p>
                <p>
                  <label>确认新密码：</label>
                  <input type="password" value="" id="re-password" name="re-password" />
                  <span>&nbsp;</span>
                </p>
                <p>
                  <label>&nbsp;</label>
                  <input id="submit" name="submit" class="btn-submit" type="submit" value="修改" />
                  <input type="hidden" name="action" value="changepass" />
                  <input type='hidden' name='csrfmiddlewaretoken' value='GCHVvrRI03FgqVvoReNTk6LMLUvOiLUY' />
                </p>
              </form>
            </div>
            <span style="color: red; margin-left: 20px;">{% if error %}{{ error }}{% endif %}</span>
	  </li>
	</ul>
      </div>
    </div>
    <div class="clearit"></div>
  </div>
</div>
{% endblock %}	
