<div class="sidebar">
  <div class="sibebar-nav">
    <dl>
      <dt>账户管理</dt>
      <dd><a href="/account/password">修改密码</a></dd>
      <!-- <dd><a href="/account/info">账户信息</a></dd> -->
      <!-- <dd><a href="points.html">我的积分</a></dd> -->
    </dl>
    <dl>
      <dt>数据管理</dt>
      <dd><a href="/product/public">发布新的数据</a></dd>
      <dd><a href="/product/publiced">我发布的数据</a></dd>
      <dd><a href="/product/downloaded">我下载的数据</dd>
      <!-- <dd><a href="product-favorite.html">我收藏的数据</a></dd> -->
    </dl>
    <dl>
      <dt>应用管理</dt>
      <dd><a href="/application/public">发布新的应用</a></dd>
      <dd><a href="/application/publiced">我发布的应用</a></dd>
      <!-- <dd><a href="app-favorite.html">我收藏的应用</a></dd> -->
    </dl>
  </div>
</div>
